/* login.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    width: 25rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn {
    border: none;
    border-radius: 5px;
    background-color: #17a2b8;
    color: #fff;
    padding: 0
  }  